$biosMainColour: #0f15b3;
$biosBackgroundColour: #bababa;

.bios {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $biosBackgroundColour;
    display: flex;
    flex-direction: column;

    .bios-button {
        background-color: transparent;
        border: none;

        .active {
            color: white;
            background: black;
        }

    }

    .bios-system-info {
        color: #555555;
        display: flex;
        flex-direction: column;
        font-size: 15pt;
        font-weight: bold;
        //line-height: 7pt;

        span {
            font-size: 12pt;
            padding: 0;
            margin: 0;
        }
    }

    .bios-popup {
        position: absolute;
        flex: auto;
        height: auto;
        color: #ffffff;
        background: $biosMainColour;

        width: 300px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
        box-shadow: 20px 20px #000000;
    }

    .bios-popup-title {
        position: absolute;
        width: 100%;
        text-align: center;

        span {
            padding: 5pt;
            background: $biosMainColour;
        }
    }


    .bios-popup-inner {
        margin: 5pt;
        padding: 8pt;
        height: calc(100% - 10pt);
        width: calc(100% - 10pt);
        border: 1px solid $biosBackgroundColour;

        display: flex;
        flex-direction: column;

        .bios-popup-inner-content {
            flex: auto;
            height: auto;
        }

        .bios-popup-buttons {
            display: flex;

            button {
                flex: auto;
                width: auto;
                border: none;
                color: white;
                background-color: transparent;

            }

            .bios-active {
                background-color: black;
                background: black;
            }
        }
    }

    .bios-top {
        text-align: center;
        color: $biosBackgroundColour;
        background-color: $biosMainColour;

        font-size: 20pt;

        .bios-title {
            color: white;
            font-size: 18pt;
            position: absolute;
            width: 100%;
            height: 25pt;
        }
    }


    .bios-nav-bar {
        width: 100%;
        height: 25pt;
        display: flex;
        background-color: $biosMainColour;
        color: $biosBackgroundColour;
        font-weight: bold;

        .bios-tab-active {
            color: $biosMainColour;
            background-color: $biosBackgroundColour;
        }

        span {
            height: 100%;
            padding: 2pt;
            font-size: 15pt;
        }
    }

    .bios-gradient {
        display: flex;
        width: 100%;

        span {
            height: 25pt;
            flex: auto;

        }

        span:empty {
            display: flex;
        }
    }

    .bios-middle {
        display: flex;
        flex-direction: row;
        margin: 5pt;
        //padding: 5pt;
        border: 2pt solid $biosMainColour;
        flex: auto;
        height: auto;
        color: $biosMainColour;

        .bios-settings {
            padding: 5pt;
            font-size: 5pt;
            flex: auto;
            height: auto;
            font-size: 12pt;
            font-weight: bold;

            .bios-settings-line {
                display: flex;

                button {
                    height: 5pt;
                    margin-left: 5pt;
                    background-color: transparent;
                    border: none;
                }
            }
        }

        .bios-info {
            border-left: 2px solid $biosMainColour;
            padding: 5pt;
            color: $biosMainColour;
            max-width: 200pt;
            display: flex;
            flex-direction: column;

            .bios-top-info {
                flex: auto;
                height: 100%;
            }

            .bios-bottom-info {
                border-top: 1pt solid;
            }


        }

    }

    .bios-bottom {
        text-align: center;
        color: white;
        background-color: $biosMainColour;
        font-size: 15pt;
    }
}