// .inputarea{
//     background-color: white !important;
//     width: 1px !important;
//     height: 20px !important;
// }

.cursor{
    position: fixed !important;
    z-index: 99999999 !important;
    background-color: white !important;
}

.cursors-layer {
    background-color: white !important;
} 
.cursor-line-style {
    background-color: white !important;

} 

.cursor-solid {
    background-color: white !important;

}


.has-selection{
    background-color: white !important;
}