$resize-border-thickens: 5pt;
//@extend
$debugColorSide : none; // yellow;
$debugColorCorner : none; // orange;
$titleBarHeight : 20pt;
$zIndex: 50;
$scrollbarBG: rgb(0, 0, 0);
$thumbBG: rgb(48, 50, 51);


.window {
    position: absolute;
    display: flex;
    flex-direction: column;

    background-color: black;
    color: white;
    z-index: 5;
    border: 1px solid #2b4248;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.25);

    h1 {
        padding: 4pt;
        font-size: 10pt;
    }
}

.title-bar {
    height: $titleBarHeight;
    width: 100%;
    flex: none;
}


.title-bar-inactive {
    background-color: transparentize($color: #ffffff, $amount: 0.80);
}

.title-bar-icon {
    position: absolute;
    margin: 2pt;
    top: 0;
    left: 0;
    height: 15pt;
    width: 15pt;
}


.title-bar-title {
    position: absolute;
    left: 5pt;
    top: 4pt;
    width: calc(100% - 60pt);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-bar-title-with-icon {
    position: absolute;
    left: 20pt;
    top: 4pt;
    width: calc(100% - 80pt);
    white-space: nowrap;
    text-overflow: ellipsis;
}


.title-bar-right {
    height: $titleBarHeight;


    position: absolute;
    top: 0;
    right: 0;
}

.title-bar-exit {
    &:hover {
        background-color: red;
        transition: background-color 0.05s ease-out;
    }
}

.title-bar-button-hover {
    &:hover {
        background-color: transparentize($color: #ffffff, $amount: 0.85);
        transition: background-color 0.05s ease-out;
    }
}

.title-bar-buttons {
    padding: 5pt;
    display: inline-block;
}

.title-bar-button-disabled {
    color: #535353;
}

.window-content {
    position: relative;
    height: 100%;
    flex: auto;
    width: 100%;
    display: block;
    background-color: #242323;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 11px;
    }


    scrollbar-width: thin;
    scrollbar-color: $thumbBG $scrollbarBG;


    &::-webkit-scrollbar-track {
        background: $scrollbarBG;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $thumbBG;
        border-radius: 6px;
        border: 3px solid $scrollbarBG;
    }

}

.window-up-hover {
    position: absolute;
    width: 100%;
    height: $resize-border-thickens;
    top: -2px;
    left: 0;
    background-color: $debugColorSide;
    cursor: n-resize;
    z-index: $zIndex;
}

.window-bottom-hover {
    position: absolute;
    width: 100%;
    height: $resize-border-thickens;
    bottom: -2px;
    left: 0;
    background-color: $debugColorSide;
    cursor: s-resize;
    z-index: $zIndex;
}

.window-left-hover {
    position: absolute;
    width: $resize-border-thickens;
    height: 100%;
    bottom: 0;
    left: -2px;
    background-color: $debugColorSide;
    cursor: w-resize;
    z-index: $zIndex;
}

.window-right-hover {
    position: absolute;
    width: $resize-border-thickens;
    height: 100%;
    bottom: 0;
    right: -2px;
    background-color: $debugColorSide;
    cursor: e-resize;
    z-index: $zIndex;
}

.window-up-left-hover {
    position: absolute;
    width: $resize-border-thickens;
    height: $resize-border-thickens;
    top: 0;
    left: 0;
    background-color: $debugColorCorner;
    cursor: nw-resize;
    z-index: $zIndex;
}

.window-up-right-hover {
    position: absolute;
    width: $resize-border-thickens;
    height: $resize-border-thickens;
    top: 0;
    right: 0;
    background-color: $debugColorCorner;
    cursor: ne-resize;
    z-index: $zIndex;
}

.window-bottom-left-hover {
    position: absolute;
    width: $resize-border-thickens;
    height: $resize-border-thickens;
    bottom: 0;
    left: 0;
    background-color: $debugColorCorner;
    cursor: sw-resize;
    z-index: $zIndex;
}

.window-bottom-right-hover {
    position: absolute;
    width: $resize-border-thickens;
    height: $resize-border-thickens;
    bottom: 0;
    right: 0;
    background-color: $debugColorCorner;
    cursor: se-resize;
    z-index: $zIndex;
}


//also modify navbar
.window-bottom {
    height: calc(100% - 30pt);
    width: 100%;
}

.window-top {
    top: 20pt;
    height: calc(100% - 30pt);
    width: 100%;
}

.window-left {
    left: 20pt;
    height: 100%;
    width: calc(100% - 50pt);
}

.window-right {
    height: 100%;
    width: calc(100% - 50pt);
}

.window-fullscreen {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 500 !important;
    border: none;
}