.account-manager {
    width: 500pt;
    height: 500pt;
    background-color: black;
    color: #b6b6b6;

    border-top: 2pt solid white;
    border-radius: 5pt;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    button {
        background-color: transparent;
        color: white;
    }

}

.account-manager-window {
    position: absolute;
    background-color: #2b2b2b;
    height: 100%;
    width: 100%;
}

.btn-lrs {
    border: 1px solid white;
}