.account-manager-page {
  position: absolute;
  border-top: 1pt solid yellow;
  border-radius: 10pt;
  padding: 5pt;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 10pt black;
  min-width: 300pt;
  min-height: 300pt;
  max-width: 500pt;
  max-height: 500pt;
  overflow: auto;
}

.account-manager-scrollabled{
  max-height: 500px;
  overflow: auto;
}

.account-manager-card {
  margin: 5pt;
  padding: 5pt;
  margin-top: 10pt;
  border-radius: 5pt;
  box-shadow: 0pt 0pt 5pt black;

  li {
    text-align: left;
  }

}

.account-manager-settings-header {
  display: flex;
  flex-direction: row;

  img {
    cursor: pointer;
    margin: 5pt;
    height: 80pt;
    width: 80pt;
    border-radius: 5pt;
    border: 2pt solid black;
  }

  .account-manager-info {
    width: auto;
    flex: auto;
  }

  .account-manager-avatar {
    display: flex;
    flex-direction: column;
  }

}

.account-manager {
  color: white;
  text-align: center;

  h1 {
    font-size: 25pt;
  }

  input {
    border: none;
    padding: 5pt;
    margin: 2pt;
    border-radius: 2pt;
    display: block;
    width: calc(100% - 4pt);
  }

  a {
    color: lightblue;
  }

  button {
    border: none;
    padding: 5pt;
    margin: 1pt;
    border-radius: 2pt;
    display: inline-block;
  }
}