.account-manager {
  width: 500pt;
  height: 500pt;
  background-color: black;
  color: #b6b6b6;

  border-top: 2pt solid white;
  border-radius: 5pt;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.account-manager-form {
  // background-color: black;

  h5 {
    font-size: 1rem;
  }

  input {
    padding: 2pt;
  }

  button {
    padding: 2pt;
  }

}

.account-manager-window {
  position: absolute;
  background-color: #2b2b2b;
  height: 100%;
  width: 100%;
}

.account-manager-section {
  border: 1px solid white;
  border-radius: 5pt;
  padding: 5pt;
}

.btn-lrs {
  button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin: 0 1pt;

    transition: ease-in background-color 0.15s, color 0.15s;

    &:hover {
      background-color: #b6b6b6;
      color: black;
    }
  }
}