<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> TEST </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <style>
        body {
            background: #222;
            color: lime;
            font-family: monospace;
        }

        #header {
            display: flex;
            align-items: baseline;
            margin: 15px;
        }

        /* blinking cursor */
        #cursor {
            background: lime;
            line-height: 17px;
            margin-left: 3px;
            -webkit-animation: blink 0.8s infinite;
            width: 7px;
            height: 15px;
        }

        @-webkit-keyframes blink {
            0% {
                background: #222
            }

            50% {
                background: lime
            }

            100% {
                background: #222
            }
        }
    </style>

<body>
    <div id="app">
        Loading test page
    </div>
    <% if(process.env.NODE_ENV === 'production') { %>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <% } else { %>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <% } %>
    <script type="text/javascript" src="<%- manifest["vendors.js"] %>"></script>
    <script type="text/javascript" src="<%- manifest["material-ui.js"] %>"></script>
    <script type="text/javascript" src="<%- manifest["test.js"] %>"></script>
</body>

</html>