.lype {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  color: yellow;

  .friends {
    padding: 5pt;
    height: 100%;
    width: 250pt;
    color: yellow;
    background-color: rgb(32, 32, 32);
    overflow: scroll;

  }

  .chat {
    display: flex;
    justify-content: end;
    flex-direction: column;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;

    .header {
      background-color: rgb(21, 21, 21);
      height: 100pt;
      overflow: hidden;
      flex: none;
    }

    .footer {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      background-color: rgb(16, 16, 16);
      height: auto;

      .messages {
        background-color: rgb(24, 24, 24);
        flex: auto;
        height: auto;
        overflow: auto;
      }

      .input {
        height: 40pt;
        width: 100%;
        bottom: 0;
        flex: none;
        background-color: rgb(4, 4, 4);


        input {
          background-color: rgb(64, 64, 64);
          width: calc(100% - 20px);
          margin: 10px;
          padding: 10pt;
          height: 30px;
          color: white;
          border: none;
          border-radius: 5px;
        }
      }

    }


  }


}